<!--<p>
  Name: {{company?.compDetails.name}}
</p>
<p>
  Price: {{company?.compDetails.stockPrice}}
</p>
<p>
  Available: {{company?.compDetails.availableQuantity}}
</p>
<p>
  Market capitalisation (in Cr.): {{company?.compDetails.marketcap}}
</p>
<p>
  Growth Rate(%): {{company?.compDetails.annualGrowthRate}}
</p>
<p>
  Your Balance: {{company?.accountBalance}}
</p>
<p>
  Max quantity you can buy:{{company?.buyMax}}
</p>
<p>
  Max quantity you can sell:{{company?.sellMax}}
</p>
<p>
  Max quantity you can short:{{company?.shortMax}}
</p>
<p>
  Max quantity you can cover:{{company?.coverMax}}
</p>


<form [formGroup]="buyForm" novalidate (ngSubmit)="buyStock(buyForm.value)">
  <input [ngModel]="amount" type="text" formControlName="amount"/>
  <button type="btn btn-primary" [disabled]="!buyForm.valid">Buy</button>
</form>

<form [formGroup]="sellForm" novalidate (ngSubmit)="sellStock(sellForm.value)">
  <input [ngModel]="amount" type="text" formControlName="amount"/>
  <button type="btn btn-primary" [disabled]="!sellForm.valid">Sell</button>
</form>

<form [formGroup]="shortForm" novalidate (ngSubmit)="shortStock(shortForm.value)">
  <input [ngModel]="amount" type="text" formControlName="amount"/>
  <button type="btn btn-primary" [disabled]="!shortForm.valid">Short</button>
</form>

<form [formGroup]="coverForm" novalidate (ngSubmit)="coverStock(coverForm.value)">
  <input [ngModel]="amount" type="text" formControlName="amount"/>
  <button type="btn btn-primary" [disabled]="!coverForm.valid">Cover</button>
</form>-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ThemeSonyX">
    <meta name="description" content="Admin Dashboard">

    <title>Bulls 'n' Bears </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Font-awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">


    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href=".../css/style.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./../assets./img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../assets/img/favicon/android-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Preloader -->
    <div class="load-bar">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- Page content -->
    <div class="contentWrapper">
      <div class="userProfile-header">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div id="chartBox">
                <h6><i class="fa fa-line-chart" aria-hidden="true"></i>Stock Price Statistics</h6>
              <canvas id="statsChart" style="margin-top:20px;"></canvas> 
            </div>
          </div>
          <div class="header-r col-sm-6 col-xs-12 table-responsive">
            <h3 class="removemargin">{{company?.compDetails.name}}</h3>
            <div class="bootstrapTables noborder">
              <table class="hover-table table table-hover">
                <tr>
                  <td>Price : </td>
                  <td>	{{company?.compDetails.stockPrice}} </td>
                </tr>
                <tr>
                  <td>Available : </td>
                  <td>{{company?.compDetails.availableQuantity}}</td>
                </tr>
                <tr>
                  <td>Market Capitalisation (in cr.):</td>
                  <td>{{company?.compDetails.marketcap}}</td>
                </tr>
                <tr>
                  <td>Growth Rate(%):</td>
                  <td>{{company?.compDetails.annualGrowthRate}}</td>
                </tr>
              </table>
            </div>
              <!--<div class="buttons1">
              <button class="btn btn-success" (click)="loanMoney()">Take Loan</button>
              <button class="btn btn-danger" (click)="repayMoney()">Repay Loan</button>
                 </div>-->
          </div>
        </div>
      </div>
    <!-- <div *ngFor="let company of player?.Customer.stockHoldings;">
    -  <p>Company: <a routerLink="company/{{company.company.id}}">{{company.company.symbol}}</a></p>
    -  <p>Stock Qty.: {{company.quantity}}</p>
    -  <div *ngIf="check(company);">
    -    <p>Shorted Stock: {{quantity}}
    -  </div>
    -  <div *ngIf="!check(company);">
    -    <p>Shorted Stock: 0</p>
    -  </div>
    -  <p>Current Price: {{company.company.stockPrice}}
    -</div> -->
      <!-- <div class="contentWrapper">
        <div class="row ">
          <div class="col-sm-12 col-xs-12 userProfile-header">
            <div class="bootstrapTables table-responsive">
              <table class="hover-table table table-hover">
                <tr>
                  <form [formGroup]="buyForm" novalidate (ngSubmit)="buyStock(buyForm.value)">
                    <input [ngModel]="amount" type="number" formControlName="amount"/>
                    <button type="btn btn-success" [disabled]="!buyForm.valid">Buy</button>
                  </form>
                </tr>
                <tr>
                  <form [formGroup]="sellForm" novalidate (ngSubmit)="sellStock(sellForm.value)">
                    <input [ngModel]="amount" type="text" formControlName="amount"/>
                    <button type="btn btn-danger" [disabled]="!sellForm.valid">Sell</button>
                  </form>
                </tr>
                <tr>
                  <form [formGroup]="coverForm" novalidate (ngSubmit)="coverStock(coverForm.value)">
                    <input [ngModel]="amount" type="text" formControlName="amount"/>
                    <button type="btn btn-success" [disabled]="!coverForm.valid">Cover</button>
                  </form>
                </tr>
                <tr>
                  <form [formGroup]="shortForm" novalidate (ngSubmit)="shortStock(shortForm.value)">
                    <input [ngModel]="amount" type="text" formControlName="amount"/>
                    <button type="btn btn-danger" [disabled]="!shortForm.valid">Short</button>
                  </form>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row form-wrapper">
        <div class="inline-form col-xs-12">
          <h3>Inline Form</h3>
          <form class="form-inline" [formGroup]="buyForm" novalidate (ngSubmit)="buyStock(buyForm.value)" style="margin-bottom:-25px;">
            <div class="form-group">
              <input class="form-control" [ngModel]="amount" type="number" formControlName="amount" value=0/>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!buyForm.valid">Buy</button>
          </form>
          <form class="form-inline" [formGroup]="sellForm" novalidate (ngSubmit)="sellStock(sellForm.value)" style="margin-bottom:-25px;">
            <div class="form-group">
              <input class="form-control" [ngModel]="amount" type="number" formControlName="amount" value=0/>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!sellForm.valid">Sell</button>
          </form>
          <form class="form-inline" [formGroup]="coverForm" novalidate (ngSubmit)="coverStock(coverForm.value)" style="margin-bottom:-25px;">
            <div class="form-group">
              <input class="form-control" [ngModel]="amount" type="number" formControlName="amount" value=0/>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!coverForm.valid">Cover</button>
          </form>
          <form class="form-inline" [formGroup]="shortForm" novalidate (ngSubmit)="shortStock(shortForm.value)" style="margin-bottom:-25px;">
            <div class="form-group">
              <input class="form-control" [ngModel]="amount" type="number" formControlName="amount" value=0/>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!shortForm.valid">Short</button>
          </form>
        </div>
      </div><br><br>

    </div>
  </body>
</html>
