<br><br>

<h2 class="page-header">Company</h2>
<div *ngIf="company">
  <div *ngFor="let Company of company">
    <ul class="list-group">
      <li class="list-group-item"><b>Name: </b><a  [routerLink]="['/admin/company', company._id]">{{Company.name}}</a>
        <span class="pull-right">
          <a (click)="deleteCompany(company._id)" class="btn btn-md btn-danger align-middle" style="display:inline;"><span class="fa fa-trash-o fa-lg"></span>  Delete</a>
        </span>
      </li>
    </ul>
  </div>
  <hr>
  <div>
    <a [routerLink]="['/admin/addcompany']" class="btn btn-primary btn-md btn-block" role="button">Add New Company</a>
  </div>
</div>

<br><br>