<footer>
  <div class="nav-bottom navbar nav-fixed">
    <div class="row">
        <a class="col-xs-3 nav-calendar" href="/market">
          <i class="fa fa-line-chart" aria-hidden="true"></i><br>
          <span class="hidden-xs">Market</span>
        </a>
        <a class="col-xs-3 nav-myProfile" href="/profile">
          <i class="fa fa-user" aria-hidden="true"></i><br>
          <span class="hidden-xs">My Profile</span>
        </a>
        <a class="col-xs-3 nav-users" href="/news">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i><br>
          <span class="hidden-xs">News</span>
        </a>
        <a class="col-xs-3 nav-dash" href="/leaderboard">
          <i class="fa fa-rocket" aria-hidden="true"></i><br>
          <span class="hidden-xs">Leaderboard</span>
        </a>
    </div>
  </div>
</footer>