/* You can add global styles to this file, and also import other style files */
body{
  background: url(imag.png)no-repeat;
    margin: auto;
  display: block;
  background-origin: content-box;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}


h1 {
    color: black;
    font-family: comic sans MS;
    font-size: 500%;
}

h2{
    padding: 4px;
  font-size: 30px;
  margin-left: 20px;
  display: inline-block;
}

#fb-button{
  text-align: center;
  margin-left: 47.3%;
}
