
<h2 class="page-header">Publish New News</h2>
<form (submit)="onNewsSubmit()">
  <div class="form-group">
    <label style="color:black;">News Text</label>
    <input type="text" [(ngModel)]="newsText" name="newsText" class="form-control" placeholder="Enter news text" autofocus required>
  </div>
  <div class="form-group">
    <label style="color:black;">Youtube Source</label>
    <input type="text" [(ngModel)]="youtubeSrc" name="youtubeSrc" class="form-control" placeholder="News youtube source" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Publish</label>
    <input type="text" [(ngModel)]="isPublished" name="isPublished" class="form-control" placeholder="true or false" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company</label>
    <input type="text" [(ngModel)]="company" name="company" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact</label>
    <input type="text" [(ngModel)]="impact" name="impact" class="form-control" placeholder="News Impact" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-primary">
</form>