<br><br>

<div *ngIf="User">
  <h2 class="page-header">User Details</h2>
  <h3>{{User.Customer.facebook.name}}</h3>

  <form (submit)="onSubmit()">
  <div class="form-group">
    <label style="color:black;">Ban</label>
    <input type="boolean" class="form-control" id="ban" required [(ngModel)]="User.Customer.ban" name="ban">
  </div>
  <div class="form-group">
    <label style="color:black;">Admin</label>
    <input type="boolean" [(ngModel)]="User.Customer.admin" name="admin" class="form-control" id="admin" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Account Balance</label>
    <input type="number" [(ngModel)]="User.Customer.accountBalance" name="accountBalance" class="form-control" id="accountBalance" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Loan Taken</label>
    <input type="boolean" [(ngModel)]="User.Customer.loan.taken" name="taken" class="form-control" id="taken" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Loan Amount</label>
    <input type="text" [(ngModel)]="User.Customer.loan.amount" name="amount" class="form-control" id="amount" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-primary">
</form>

</div>