<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ThemeSonyX">
    <meta name="description" content="Admin Dashboard">

    <title>Bulls 'n' Bears </title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href=".../css/style.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./../assets./img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../assets/img/favicon/android-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Preloader -->
    <div class="load-bar">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <!-- Header -->
    <nav class="nav-top navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="nav-top-mobile">
            <div class="mobile-user">
              <ul>
                <li class="dropdown">
                  <a href="#" class="mobile-user-profile dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
                  <ul class="mobile-user-dropdown dropdown-menu animated fadeInDown">
                    <li><a href="my-profile.html">View Profle</a></li>
                    <li><a href="javascript:;">Notification</a></li>
                    <li><a href="javascript:;">Privacy settings</a></li>
                    <li><a href="javascript:;">Activity Log</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="lock.html"><i class="fa fa-lock" aria-hidden="true"></i>Lock</a></li>
                    <li><a href="log-in.html"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="mobile-search">
              <a href="#" class="mobile-search-trigger" role="button"><i class="fa fa-search" aria-hidden="true"></i></a>
              <div class="mobile-search-active animated fadeInDown">
                  <form class="mobile-search-box">
                      <i class="glyphicon glyphicon-search"></i>
                      <input class="mobile-search-input" autofocus type="text" spellcheck="false" placeholder="Search...">
                      <button type="button" class="close">
                        <span>&times;</span>
                      </button>
                  </form>
              </div>
            </div>
          </div><!-- end .nav-top-mobile -->
          <div class="logo ">
            <a class="navbar-brand" href="index.html">
            <img src="../../assets/img/logo.png" alt="Rocket Logo">
              <span>BNB</span>
              <small class="hidden-xs">Raise your standards</small>
            </a>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content and hide -->
        <div  class="collapse navbar-collapse hidden-xs">
          <ul class="user-profile nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="user-block dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="user-name">Hi,{{player.Customer.facebook.name}}</span>
                <span class="caret"></span>
                <img src="https://graph.facebook.com/v2.11/{{player.Customer.facebook.id}}/picture" alt="User image">
              </a>
              <ul class="user-profile-dropdown dropdown-menu animated fadeInDown">
                <li>
                  <a href="#"><i class="fa fa-user" aria-hidden="true"></i>View Profle</a>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa fa-cog" aria-hidden="true"></i>Privacy settings</a>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa fa-file-text" aria-hidden="true"></i>Activity Log</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="lock.html"><i class="fa fa-lock" aria-hidden="true"></i>Lock</a>
                </li>
                <li>
                  <a href="log-in.html"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right notify">
            <li class="dropdown">
              <a href="#" class="lang dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN<span class="caret"></span></a>
              <ul class="lang-dropdown dropdown-menu animated flipInX">
                <li><a class="lang-item" href="javascript:;">
                      <img src="../../assets/img/flags/EN.png" alt="English flag"> English
                    </a>
                </li>
                <li><a class="lang-item" href="javascript:;">
                      <img src="../../assets/img/flags/DE.png" alt="German flag"> German
                    </a>
                </li>
                <li><a class="lang-item" href="javascript:;">
                      <img src="../img/flags/FR.png" alt="French flag"> French
                    </a>
                </li>
                <li><a class="lang-item" href="javascript:;">
                      <img src="../img/flags/RU.png" alt="Russian flag"> Russian
                    </a>
                </li>
                <li><a class="lang-item" href="javascript:;">
                      <img src="../img/flags/ES.png" alt="Spanish flag"> Spanish
                    </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="notification dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i></a>
              <ul class="notification-dropdown dropdown-menu animated flipInX">
                <li><a class="notification-item" href="javascript:;">
                    <span class="notification-item-content">
                      <i class="fa fa-users" aria-hidden="true"></i>
                      15 users joined today
                    </span>
                    <span class="notification-item-time">3h ago</span>
                  </a>
                </li>
                <li><a class="notification-item" href="javascript:;">
                    <span class="notification-item-content">
                      <i class="fa fa-key" aria-hidden="true"></i>
                      Password is changed
                    </span>
                    <span class="notification-item-time">5h ago</span>
                  </a>
                </li>
                <li><a class="notification-item" href="javascript:;">
                    <span class="notification-item-content">
                      <i class="fa fa-line-chart" aria-hidden="true"></i>
                       Daily report is available
                    </span>
                    <span class="notification-item-time">1d ago</span>
                  </a>
                </li>
                <li><a class="notification-link" href="javascript:;">See Notification History</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="messages dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <ul class="messages-dropdown dropdown-menu animated fadeInDown">
                <li><a class="message-item" href="view-message.html">
                      <span class="message-item-img">
                        <img src="../img/users/user02.jpg" alt="User image">
                      </span>
                      <div class="message-block">
                        <div class="message-item-from">John Doe</div>
                        <div class="message-item-content">Let me know what</div>
                      </div>
                      <span class="message-item-time">1h ago</span>
                    </a>
                </li>
                <li><a class="message-item" href="view-message.html">
                      <span class="message-item-img">
                        <img src="../img/users/user03.jpg" alt="User image">
                      </span>
                      <div class="message-block">
                        <div class="message-item-from">Kimbery Yearta</div>
                        <div class="message-item-content">Hi, can you tell me</div>
                      </div>
                      <span class="message-item-time">3h ago</span>
                    </a>
                </li>
                <li><a class="message-item" href="view-message.html">
                      <span class="message-item-img">
                        <img src="../img/users/user04.jpg" alt="User image">
                      </span>
                      <div class="message-block">
                        <div class="message-item-from">Clare Cuenca</div>
                        <div class="message-item-content">Call Jenny ! Don't forget</div>
                      </div>
                      <span class="message-item-time">6h ago</span>
                    </a>
                </li>
                <li><a class="message-item" href="view-message.html">
                      <span class="message-item-img">
                        <img src="../img/users/user05.jpg" alt="User image">
                      </span>
                      <div class="message-block">
                        <div class="message-item-from">Brandon Gorby</div>
                        <div class="message-item-content">This is great</div>
                      </div>
                      <span class="message-item-time">1d ago</span>
                    </a>
                </li>
                <li><a class="messages-link" href="messages.html">View All messages</a></li>
              </ul>
            </li>
          </ul>
          <form class="nav-search">
              <input class="nav-search-input" type="text" spellcheck="false" placeholder="Search...">
              <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
          </form>
        </div><!-- end .navbar-collapse -->
      </div><!-- end .container-fluid -->
    </nav><!-- end .nav-top -->

    <!-- Page content -->
    <div class="contentWrapper">
      <div class="userProfile-header">
        <div class="row">
          <div class="header-l col-sm-6 col-xs-12">
            <img src="https://graph.facebook.com/v2.11/{{player.Customer.facebook.id}}/picture" alt="User image">
            <div class="header-l-info">
              <h3>{{player.Customer.facebook.name}} <a href="#" title="Verified"><i class="fa fa-check-square-o" aria-hidden="true"></i></a></h3>
              <span class="freelaner"><i class="fa fa-user" aria-hidden="true"></i> Trader</span>
            </div>
          </div>
          <div class="header-r col-sm-6 col-xs-12 table-responsive">
            <h3 class="removemargin">Basic Info</h3>
            <div class="bootstrapTables noborder">
            <table class="hover-table table table-hover">
              <tr>
                <td>Your Balance : </td>
                <td>	{{player.Customer.accountBalance}} </td>
              </tr>
              <tr>
                <td>Your Worth : </td>
                <td>{{player.worth.worth}}</td>
              </tr>
              <tr>
                <td>Loan Pending :</td>
                <td>{{player.Customer.loan.amount}}</td>
              </tr>
            </table>
          </div>
              <div class="buttons1">
              <button class="btn btn-success" (click)="loanMoney()">Take Loan</button>
              <button class="btn btn-danger" (click)="repayMoney()">Repay Loan</button>
                 </div>
          </div>
        </div>
-<!-- <div *ngFor="let company of player.Customer.stockHoldings;">
 -  <p>Company: <a routerLink="company/{{company.company.id}}">{{company.company.symbol}}</a></p>
 -  <p>Stock Qty.: {{company.quantity}}</p>
 -  <div *ngIf="check(company);">
 -    <p>Shorted Stock: {{quantity}}
 -  </div>
 -  <div *ngIf="!check(company);">
 -    <p>Shorted Stock: 0</p>
 -  </div>
 -  <p>Current Price: {{company.company.stockPrice}}
 -</div> -->

        </div>
         <div class="row ">
         <div class="col-sm-12 col-xs-12 userProfile-header">
            <h3 class="removemargin1">Portfolio</h3>
            <div class="bootstrapTables table-responsive">
            <table class="hover-table table table-hover">
              <tr>
                <th>Company</th>
                <th>Qty</th>
                <th>Stock</th>
                <th>Price</th>
              </tr>
              <tr *ngFor="let company of player.Customer.stockHoldings;">
                <td>{{company.company.symbol}}</td>
                <td>{{company.quantity}}</td>
                <td *ngIf="check(company);">{{quantity}}</td>
                <td *ngIf="!check(company);"> 0</td>
                <td>{{company.company.stockPrice}}</td>
              </tr>
            </table>
        </div>
       </div>
         </div>
</div>


    <!-- Footer -->
    <footer>
      <div class="nav-bottom navbar nav-fixed">
        <div class="row">
            <a class="col-xs-2 nav-dash" href="index.html">
              <i class="fa fa-rocket" aria-hidden="true"></i><br>
              <span class="hidden-xs">Dashboard</span>
            </a>
            <a class="col-xs-2 nav-inbox" href="messages.html">
              <i class="fa fa-envelope-o" aria-hidden="true"></i><br>
              <span class="hidden-xs">Messages</span>
            </a>
            <a class="col-xs-2 nav-myProfile" href="my-profile.html">
              <i class="fa fa-user" aria-hidden="true"></i><br>
              <span class="hidden-xs">My Profile</span>
            </a>
            <a class="col-xs-2 nav-calendar" href="calendar.html">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i><br>
              <span class="hidden-xs">Calendar</span>
            </a>
            <a class="col-xs-2 nav-users" href="users.html">
              <i class="fa fa-users" aria-hidden="true"></i><br>
              <span class="hidden-xs">Users</span>
            </a>
            <a class="col-xs-2 nav-more dropdown" href="#">
              <i class="fa fa-plus" aria-hidden="true"></i><br>
              <span class="hidden-xs">More</span>
            </a>
        </div>
      </div>
      <div id="box" class="nav-moreBox animated fadeInDown">
        <div class="moreBox-item" data-toggle="collapse" data-target="#uiElements">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          UI Elements
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <div id="uiElements" class="collapse">
            <ul>
              <li><a href="alerts.html">Alerts</a></li>
              <li><a href="animations.html">Animations</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="grid-system.html">Grid System</a></li>
              <li><a href="pagination.html">Pagination</a></li>
              <li><a href="progress-bars.html">Progress Bars</a></li>
              <li><a href="typography.html">Typography</a></li>
            </ul>
          </div>
        </div>
        <div class="moreBox-item" data-toggle="collapse" data-target="#charts">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          Charts
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <div id="charts" class="collapse">
            <ul>
              <li><a href="chartJs.html">Chart.js</a></li>
              <li><a href="morrisJs.html">morris.js</a></li>
            </ul>
          </div>
        </div>
        <div class="moreBox-item" data-toggle="collapse" data-target="#icons">
          <i class="fa fa-fort-awesome" aria-hidden="true"></i>
          Icons
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <div id="icons" class="collapse">
            <ul>
              <li><a href="icons-fontawesome.html">Font Awesome</a></li>
              <li><a href="icons-glyphicon.html">Glyphicons</a></li>
            </ul>
          </div>
        </div>
        <a href="widgets.html">
          <div class="moreBox-item">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <span class="moreBox-item-name">Widgets</span>
          </div>
        </a>
        <a href="forms.html">
          <div class="moreBox-item">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <span class="moreBox-item-name">Forms</span>
          </div>
        </a>
        <a href="tables.html">
          <div class="moreBox-item">
            <i class="fa fa-table" aria-hidden="true"></i>
            <span class="moreBox-item-name">Tables</span>
          </div>
        </a>
        <a href="map.html">
          <div class="moreBox-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="moreBox-item-name">Map</span>
          </div>
        </a>
        <div class="moreBox-item" data-toggle="collapse" data-target="#pages">
          <i class="fa fa-tags" aria-hidden="true"></i>
          Special Pages
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <div id="pages" class="collapse">
            <ul>
              <li><a href="blank.html">Blank Page</a></li>
              <li><a href="log-in.html">Login Page</a></li>
              <li><a href="lock.html">Lock</a></li>
              <li><a href="forgot-password.html">Recover Password</a></li>
              <li><a href="sign-up.html">Sign Up</a></li>
              <li><a href="view-message.html">View Email</a></li>
              <li><a href="user-profile.html">User Profile</a></li>
              <li><a href="edit-profile.html">Edit Profile</a></li>
              <li><a href="404.html">Error 404</a></li>
              <li><a href="500.html">Error 500</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer><!-- end .nav-bottom -->

    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!--Custom script -->
    <script type="text/javascript" src="../js/preloader.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
        </body>

<!-- Mirrored from themesonyx.com/preview/rocket/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2017 17:09:12 GMT -->
</html>
