<p>
  Name: {{company.compDetails.name}}
</p>
<p>
  Price: {{company.compDetails.stockPrice}}
</p>
<p>
  Available: {{company.compDetails.availableQuantity}}
</p>
<p>
  Market capitalisation (in Cr.): {{company.compDetails.marketcap}}
</p>
<p>
  Growth Rate(%): {{company.compDetails.annualGrowthRate}}
</p>
<p>
  Your Balance: {{company.accountBalance}}
</p>
<p>
  Max quantity you can buy:{{company.buyMax}}
</p>
<p>
  Max quantity you can sell:{{company.sellMax}}
</p>
<p>
  Max quantity you can short:{{company.shortMax}}
</p>
<p>
  Max quantity you can cover:{{company.coverMax}}
</p>
