.removemargin
{
    margin-top: 0px !important;
    
}

.btn-success
{
    margin-right: 5px !important;
    
}

.header-l
{
    padding-bottom: 50px !important;
    padding-top: 10px !important;
    
    
}

.header-r
{

    padding-bottom: 10px !important;
    
    
}