<h2 class="page-header">Publish New News</h2>
<form (submit)="onNewsSubmit()">
  <div class="form-group">
    <label style="color:black;">News Text</label>
    <input type="text" [(ngModel)]="newsText" name="newsText" class="form-control" placeholder="Enter news text" autofocus required>
  </div>
  <div class="form-group">
    <label style="color:black;">Youtube Source</label>
    <input type="text" [(ngModel)]="youtubeSrc" name="youtubeSrc" class="form-control" placeholder="News youtube source" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Flag</label>
    <input type="text" [(ngModel)]="flag" name="flag" class="form-control" placeholder="enter 0" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id1</label>
    <input type="text" [(ngModel)]="company1" name="company1" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact1</label>
    <input type="text" [(ngModel)]="impact1" name="impact1" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id2</label>
    <input type="text" [(ngModel)]="company2" name="company2" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact2</label>
    <input type="text" [(ngModel)]="impact2" name="impact2" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id3</label>
    <input type="text" [(ngModel)]="company3" name="company3" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact3</label>
    <input type="text" [(ngModel)]="impact3" name="impact3" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id4</label>
    <input type="text" [(ngModel)]="company4" name="company4" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact4</label>
    <input type="text" [(ngModel)]="impact4" name="impact4" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id5</label>
    <input type="text" [(ngModel)]="company5" name="company5" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact5</label>
    <input type="text" [(ngModel)]="impact5" name="impact5" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id6</label>
    <input type="text" [(ngModel)]="company6" name="company6" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact6</label>
    <input type="text" [(ngModel)]="impact6" name="impact6" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id7</label>
    <input type="text" [(ngModel)]="company7" name="company7" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact7</label>
    <input type="text" [(ngModel)]="impact7" name="impact7" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id8</label>
    <input type="text" [(ngModel)]="company8" name="company8" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact8</label>
    <input type="text" [(ngModel)]="impact8" name="impact8" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id9</label>
    <input type="text" [(ngModel)]="company9" name="company9" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact9</label>
    <input type="text" [(ngModel)]="impact9" name="impact9" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id10</label>
    <input type="text" [(ngModel)]="company10" name="company10" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact10</label>
    <input type="text" [(ngModel)]="impact10" name="impact10" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id11</label>
    <input type="text" [(ngModel)]="company11" name="company11" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact11</label>
    <input type="text" [(ngModel)]="impact11" name="impact11" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id12</label>
    <input type="text" [(ngModel)]="company12" name="company12" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact12</label>
    <input type="text" [(ngModel)]="impact12" name="impact12" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id13</label>
    <input type="text" [(ngModel)]="company13" name="company13" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact13</label>
    <input type="text" [(ngModel)]="impact13" name="impact13" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id14</label>
    <input type="text" [(ngModel)]="company14" name="company14" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact14</label>
    <input type="text" [(ngModel)]="impact14" name="impact14" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id15</label>
    <input type="text" [(ngModel)]="company15" name="company15" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact15</label>
    <input type="text" [(ngModel)]="impact15" name="impact15" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id16</label>
    <input type="text" [(ngModel)]="company16" name="company16" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact16</label>
    <input type="text" [(ngModel)]="impact16" name="impact16" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id17</label>
    <input type="text" [(ngModel)]="company17" name="company17" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact17</label>
    <input type="text" [(ngModel)]="impact17" name="impact17" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id18</label>
    <input type="text" [(ngModel)]="company18" name="company18" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact18</label>
    <input type="text" [(ngModel)]="impact18" name="impact18" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id19</label>
    <input type="text" [(ngModel)]="company19" name="company19" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact19</label>
    <input type="text" [(ngModel)]="impact19" name="impact19" class="form-control" placeholder="News Impact" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-primary">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>