<h2 class="page-header">Publish New News</h2>
<form (submit)="onNewsSubmit()">
  <div class="form-group">
    <label style="color:black;">News Text</label>
    <input type="text" [(ngModel)]="newsText" name="newsText" class="form-control" placeholder="Enter news text" autofocus required>
  </div>
  <div class="form-group">
    <label style="color:black;">Youtube Source</label>
    <input type="text" [(ngModel)]="youtubeSrc" name="youtubeSrc" class="form-control" placeholder="News youtube source" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Flag</label>
    <input type="text" [(ngModel)]="flag" name="flag" class="form-control" placeholder="enter 0" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id1</label>
    <input type="text" [(ngModel)]="company1" name="company1" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact1</label>
    <input type="text" [(ngModel)]="impact1" name="impact1" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id2</label>
    <input type="text" [(ngModel)]="company2" name="company2" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact2</label>
    <input type="text" [(ngModel)]="impact2" name="impact2" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id3</label>
    <input type="text" [(ngModel)]="company3" name="company3" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact3</label>
    <input type="text" [(ngModel)]="impact3" name="impact3" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id4</label>
    <input type="text" [(ngModel)]="company4" name="company4" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact4</label>
    <input type="text" [(ngModel)]="impact4" name="impact4" class="form-control" placeholder="News Impact" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Company Id5</label>
    <input type="text" [(ngModel)]="company5" name="company5" class="form-control" placeholder="Enter company" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Impact5</label>
    <input type="text" [(ngModel)]="impact5" name="impact5" class="form-control" placeholder="News Impact" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-primary">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>